<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelloWORD</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/cookies.css")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="@Url.Content("~/Scripts/cookies.js")"></script>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="navbar-nav">
                    <li class="mx-3 my-2 menu-item nav-item">@Html.ActionLink("START", "Index", "Home")</li>

                    <li class="mx-3 menu-item nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu-questions1"> 1 PYTANIE </a>
                        <div class="dropdown-menu" aria-labelledby="submenu-questions1">
                            @Html.ActionLink("Kat. A", "Quiz", "Quiz", new { category = "A", questions = 1 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. B", "Quiz", "Quiz", new { category = "B", questions = 1 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. C", "Quiz", "Quiz", new { category = "C", questions = 1 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. D", "Quiz", "Quiz", new { category = "D", questions = 1 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. T", "Quiz", "Quiz", new { category = "T", questions = 1 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kodeks", "Quiz", "Quiz", new { category = "Kodeks", questions = 1 }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="mx-3 menu-item nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu-questions40"> 40 PYTAŃ </a>
                        <div class="dropdown-menu" aria-labelledby="submenu-questions40">
                            @Html.ActionLink("Kat. A", "Quiz", "Quiz", new { category = "A", questions = 40 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. B", "Quiz", "Quiz", new { category = "B", questions = 40 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. C", "Quiz", "Quiz", new { category = "C", questions = 40 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. D", "Quiz", "Quiz", new { category = "D", questions = 40 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. T", "Quiz", "Quiz", new { category = "T", questions = 40 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kodeks", "Quiz", "Quiz", new { category = "Kodeks", questions = 40 }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="mx-3 menu-item nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu-exam"> EGZAMIN </a>
                        <div class="dropdown-menu" aria-labelledby="submenu-exam">
                            @Html.ActionLink("Kat. A", "Start", "Exam", new { category = "A" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. B", "Start", "Exam", new { category = "B" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. C", "Start", "Exam", new { category = "C" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. D", "Start", "Exam", new { category = "D" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. T", "Start", "Exam", new { category = "T" }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="mx-3 nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu-learn"> NAUKA </a>
                        <div class="dropdown-menu" aria-labelledby="submenu-learn">
                            @Html.ActionLink("Kat. A", "Learn", "Study", new { category = "A" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. B", "Learn", "Study", new { category = "B" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. C", "Learn", "Study", new { category = "C" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. D", "Learn", "Study", new { category = "D" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kat. T", "Learn", "Study", new { category = "T" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Kodeks", "Learn", "Study", new { category = "Kodeks" }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="mx-3 my-2 menu-item nav-item">@Html.ActionLink("INFORMACJE", "About", "Home")</li>
                    <li class="mx-3 my-2 menu-item nav-item">@Html.ActionLink("KONTAKT", "Contact", "Home")</li>
                    <li class="mx-3 my-2 menu-item nav-item">@Html.ActionLink("PREMIUM", "Buy", "User")</li>

                    @if (System.Web.HttpContext.Current.Session["userID"] != null)
                    {
                        <li class="mx-3 ml-md-5 my-2 menu-item nav-item d-flex align-items-center justify-content-center">
                            @Html.ActionLink("Moje konto", "Panel", "User")
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg>
                        </li>
                        <li class="mx-1 my-2 menu-item nav-item d-flex align-items-center justify-content-center">
                            @Html.ActionLink("Wyloguj", "Logout", "User")
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right ml-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>
                        </li>
                    }
                    else
                    {
                        <li class="mx-3 mx-md-5 my-2 menu-item nav-item">@Html.ActionLink("Twoje konto", "Logon", "User")</li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="cookies-alert align-items-center justify-content-center flex-column" id="cookiesAlert">
        <p class="text-center">Ta strona używa plików cookies. Korzystanie z niej jest równoznaczne z akceptacją @Html.ActionLink("regulaminu", "ToS", "Home", new { area = "Home" }, new { @class = "contact-link" })</p>

        <button class="btn btn-success" id="acceptCookies">Rozumiem</button>
    </div>

    <div class="body-content">
        @RenderBody()  
    </div>
    <footer class="d-flex flex-column main-footer mt-3">
        <span class="mx-3 mb-3 separator"></span>
        <p class="text-center text-muted ml-3">2020 - @DateTime.Now.Year &copy; Szymon Kania, Uniwersytet Ekonomiczny w Katowicach</p>
        <p class="text-center text-muted mr-3">
            @Html.ActionLink("Kontakt", "Contact", "Home", new { }, new { @class = "contact-link" }) | 
            @Html.ActionLink("Regulamin", "ToS", "Home", new { area = "Home" }, new { @class = "contact-link" }) | 
            <a class="contact-link" href="https://github.com/Kaniadzic/HelloWORD">GitHub                                                                                                                                                                                                                              
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
            </a>
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
