@model IEnumerable<HelloWORD.Models.Entity.Questions>

@{
    ViewBag.Title = "Quiz";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        @if (Model.Count() == 1)
        {
            <h2 class="h3 text-center mt-3 mt-md-5">Oto jedno pytanie</h2>
        }
        else
        {
            <h2 class="h3 text-center mt-3 mt-md-5">Quiz @Model.Count() pytań</h2>
        }

        <p class="text-center px-5">
            Powodzenia!
        </p>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <form method="post" class="d-flex flex-column form-quiz align-items-center">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="d-flex flex-column align-items-center justify-content-start quiz-element my-4">
                    <input type="hidden" name="userAnswersList[@i].Number" value="@Model.ElementAt(i).Number">
                    <div class="quiz-question d-flex text-left">
                        <h5 class="pl-1 pt-1">@Model.ElementAt(i).Question</h5>
                    </div>

                    @if (Model.ElementAt(i).Picture != "unset")
                    {
                        <div class="quiz-picture">
                            <img src="~/Content/images/@Model.ElementAt(i).Picture" alt="~/Content/images/placeholder.jpg" class="quiz-picture">
                        </div>
                    }


                    @*  @TODO: dać required to każdego inputa typu radio  *@
                    <div class="quiz-answers d-flex align-items-center justify-content-start flex-column mt-2">
                        <label class="p-2 quiz-answer">
                            <input type="radio" name="userAnswersList[@i].Answer" value="A">
                            @Model.ElementAt(i).AnswerA
                        </label>
                        <label class="p-2 quiz-answer">
                            <input type="radio" name="userAnswersList[@i].Answer" value="B">
                            @Model.ElementAt(i).AnswerB
                        </label>
                        <label class="p-2 quiz-answer">
                            <input type="radio" name="userAnswersList[@i].Answer" value="C">
                            @Model.ElementAt(i).AnswerC
                        </label>
                        <label class="p-2 quiz-answer">
                            <input type="radio" name="userAnswersList[@i].Answer" value="D">
                            @Model.ElementAt(i).AnswerD
                        </label>
                    </div>
                </div>
            }
            @if (Model.Count() == 1)
            {
                <input type="submit" class="btn btn-contact mt-4 mb-3" value="Zatwierdź">
            }
            else
            {
                <input type="submit" class="btn btn-contact mt-4 mb-3" value="Zakończ test">
            }
        </form>

        @if (Model.Count() == 1)
        {
            var quiz = Model.ElementAt(0);
            @Html.ActionLink("Wylosuj inne", "Quiz", "Exam", new { category = quiz.Category, questions = 1 }, new { @class = "btn btn-warning mt-4 mb-3" })
        }
    </section>
</main>
