@model HelloWORD.Models.Entity.UserUpdateData

@{
    ViewBag.Title = "Edycja konta";
}

    <main>
        <div class="d-flex my-2 my-md-3 justify-content-center">
            <p class="h4 text-warning text-center">@ViewBag.Alert</p>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "fromCaptcha", @class = "d-flex align-items-center justify-content-center flex-column mt-2 mt-md-5 user-edit-form" }))
            {
                @Html.HiddenFor(model => model.id);

                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex mt-2 mt-md-3">
                        <div class="mr-1">
                            @Html.LabelFor(model => model.firstName)
                            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control" })
                        </div>
                        <div class="mr-1">
                            @Html.LabelFor(model => model.lastName)
                            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="d-flex mt-2 mt-md-3">
                        <div class="mr-1">
                            @Html.LabelFor(model => model.email)
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                        </div>
                        <div class="mr-1">
                            @Html.LabelFor(model => model.repeatEmail)
                            @Html.TextBoxFor(model => model.repeatEmail, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="justify-content-center mt-2 mt-md-4">
                    <button type="submit" class="btn btn-contact" id="EditSubmit">Zapisz</button>
                </div>
                }
            </div>
    </main>

