@model HelloWORD.Models.Entity.UserUpdateData

@{
    ViewBag.Title = "Edycja konta";
}

    <main>
        <div class="d-flex my-2 my-md-3 justify-content-center">
            <p class="h4 text-warning text-center">@ViewBag.Alert</p>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center justify-content-md-around">
            <table class="table table-striped table-bordered mt-2 mt-md-5 user-data-table">
                <thead>
                    <tr>
                        <th colspan="2">Oto twoje obecne dane</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Imię</th>
                        <th scope="col">@Model.firstName</th>
                    </tr>
                    <tr>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">@Model.lastName</th>
                    </tr>
                    <tr>
                        <th scope="col">Adres email</th>
                        <th scope="col">@Model.email</th>
                    </tr>
                    <tr>
                        <th scope="col">Data założenia konta</th>
                        <th scope="col">11-11-1111</th>
                    </tr>
                </tbody>
            </table>

            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "fromCaptcha", @class = "d-flex align-items-center justify-content-center flex-column mt-2 mt-md-5 user-edit-form" }))
            {
                @Html.HiddenFor(model => model.id);

                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex mt-2 mt-md-3">
                        <div class="mr-1">
                            @Html.LabelFor(model => model.firstName)
                            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control" })
                        </div>
                        <div class="mr-1">
                            @Html.LabelFor(model => model.lastName)
                            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="d-flex mt-2 mt-md-3">
                        <div class="mr-1">
                            @Html.LabelFor(model => model.email)
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                        </div>
                        <div class="mr-1">
                            @Html.LabelFor(model => model.repeatEmail)
                            @Html.TextBoxFor(model => model.repeatEmail, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="justify-content-center mt-2 mt-md-4">
                    <button type="submit" class="btn btn-contact" id="EditSubmit">Zapisz</button>
                </div>
                }
            </div>
    </main>

