@{
    ViewBag.Title = "Egzamin";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 text-center mt-3 mt-md-5"><span class="HelloWORD">HelloWORD</span> pozwala robić egzaminy takie same jak w ośrodku</h2>
        <p class="text-center px-5">
            Wybierz kategorię egzaminu i go uzupełnij. Po oddaniu zobaczysz swój wynik oraz odpowiedzi. Pamiętaj, że jako darmowy użytkownik masz dostęp do próbnej bazy pytań.
            Pełną bazę pytań możesz zakupić w zakładce @Html.ActionLink("premium", "Buy", "User", new { }, new { @class ="contact-link"}).
        </p>
        <p class="text-center px-5">
            Sprawdź swoją wiedzę w egzaminie!
        </p>
    </section>
    <section class="d-block d-md-flex my-5 justify-content-center">
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. A", "Start", "Exam", new { category = "A" }, new { @class = "icon-category-a info-learn-element d-flex align-items-start justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. B", "Start", "Exam", new { category = "B" }, new { @class = "icon-category-b info-learn-element d-flex align-items-start justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. C", "Start", "Exam", new { category = "C" }, new { @class = "icon-category-c info-learn-element d-flex align-items-start justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. D", "Start", "Exam", new { category = "D" }, new { @class = "icon-category-d info-learn-element d-flex align-items-start justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. T", "Start", "Exam", new { category = "T" }, new { @class = "icon-category-t info-learn-element d-flex align-items-start justify-content-center" })
        </div>
    </section>
</main>