@{
    ViewBag.Title = "Nauka";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 text-center mt-3 mt-md-5">Nauka z <span class="HelloWORD">HelloWORD</span> jest prosta i przyjemna</h2>
        <p class="text-center px-5">
            Lorem sed stet stet erat ea diam accumsan consetetur volutpat sed dolores amet accusam voluptua nonumy
            euismod sit et amet velit vero magna erat sed erat diam invidunt ipsum consequat eos vel facilisis tempor
            ut dolores at et adipiscing accusam amet velit vero magna erat sed erat
        </p>
        <p class="text-center px-5">
            Naucz się zasad @Html.ActionLink("ruchu drogowego", "Study", "Learn", new { category = "Kodeks" }, new { @class = "contact-link" }) lub sprawdź się w jednej z kategorii!
        </p>
    </section>
    <section class="d-block d-md-flex my-5 justify-content-center">
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. A", "Learn", "Study", new { category = "A" }, new { @class = "category-slider-a info-learn-element d-flex align-items-center justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. B", "Learn", "Study", new { category = "B" }, new { @class = "category-slider-b info-learn-element d-flex align-items-center justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. C", "Learn", "Study", new { category = "C" }, new { @class = "category-slider-c info-learn-element d-flex align-items-center justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. D", "Learn", "Study", new { category = "D" }, new { @class = "category-slider-d info-learn-element d-flex align-items-center justify-content-center" })
        </div>
        <div class="col-md-2 mx-md-3 pt-3">
            @Html.ActionLink("Kat. T", "Learn", "Study", new { category = "T" }, new { @class = "category-slider-t info-learn-element d-flex align-items-center justify-content-center" })
        </div>
    </section>
</main>