@model IEnumerable<HelloWORD.Models.Entity.Lesson>

@{
    ViewBag.Title = "Lesson";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 text-center mt-3 mt-md-5 mb-5">Lekcja numer <span class="HelloWORD">@ViewBag.Number</span></h2>

        @foreach (var item in Model)
        {
            if (item.Picture == "unset")
            {
                <div class="col-md-8 my-3 lesson-content d-flex align-items-center justify-content-center flex-column">
                    <p> @item.Content </p>
                </div>
            }
            else
            {
                <div class="col-md-8 my-2 lesson-content">
                    <img src="@item.Picture" class="lesson-content-picture">
                    <p class="text-muted"> @item.Tooltip </p>
                    <p> @item.Content </p>
                </div>               
            }

        }

    </section>
</main>