@model IEnumerable<HelloWORD.Models.Entity.QuestionsAndAnswers>

@{
    ViewBag.Title = "Wynik";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 my-3 mt-md-5">Oto twój wynik</h2>
        @if (ViewBag.Result == "Dobrze!")
        {
            <h3 class="h4 text-center answer-correct">@ViewBag.Result</h3>
        }
        else if (ViewBag.Result == "Źle!")
        {
            <h3 class="h4 text-center answer-incorrect">@ViewBag.Result</h3>
        }
        else
        {
            <h3 class="h4 text-center">@ViewBag.Result</h3>
        }

        @* Jeśli egzamin nie jest jednym pytaniem to wyświetlamy komunikat *@
        @if ((Model.Count() == 0) && (ViewBag.LongQuiz == true))
        {
            <p class="h4 my-2 text-center answer-correct">Udzielono poprawnej odpowiedzi na wszystkie pytania!</p>
        }

    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
        @if ((ViewBag.Result != "Dobrze!") && (Model.Count() != 0))
        {
            <h2 class="h5 my-3 mt-md-5 text-center">Zanim zaczniesz od nowa nie zapomnij przejrzeć odpowiedzi!</h2>
        }

        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="d-flex flex-column align-items-center justify-content-start quiz-element my-4">
                <div class="quiz-question d-flex text-left">
                    <h5 class="pl-1 pt-1">@Model.ElementAt(i).Question</h5>
                </div>

                <div class="quiz-answers d-flex align-items-center justify-content-start flex-column mt-2">
                    @if (Model.ElementAt(i).UserAnswer == "A")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-incorrect">
                            @Model.ElementAt(i).AnswerA
                        </label>
                    }
                    else if (Model.ElementAt(i).UserAnswer == "B")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-incorrect">
                            @Model.ElementAt(i).AnswerB
                        </label>
                    }
                    else if (Model.ElementAt(i).UserAnswer == "C")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-incorrect">
                            @Model.ElementAt(i).AnswerC
                        </label>
                    }
                    else if (Model.ElementAt(i).UserAnswer == "D")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-incorrect">
                            @Model.ElementAt(i).AnswerD
                        </label>
                    }

                    @if (Model.ElementAt(i).CorrectAnswer == "A")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-correct">
                            @Model.ElementAt(i).AnswerA
                        </label>
                    }
                    else if (Model.ElementAt(i).CorrectAnswer == "B")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-correct">
                            @Model.ElementAt(i).AnswerB
                        </label>
                    }
                    else if (Model.ElementAt(i).CorrectAnswer == "C")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-correct">
                            @Model.ElementAt(i).AnswerC
                        </label>
                    }
                    else if (Model.ElementAt(i).CorrectAnswer == "D")
                    {
                        <label class="p-2 quiz-answer-result quiz-answer-correct">
                            @Model.ElementAt(i).AnswerD
                        </label>
                    }
                </div>
            </div>
        }

        @if (ViewBag.LongQuiz == true)
        {
            @Html.ActionLink("Jeszcze raz", "Quiz", "Quiz", new { category = ViewBag.Category, questions = 40 }, new { @class = "btn btn-result mt-4 mb-3" })
        }
        else
        {
            @Html.ActionLink("Jeszcze raz", "Quiz", "Quiz", new { category = ViewBag.Category, questions = 1 }, new { @class = "btn btn-result mt-4 mb-3" })
        }
    </section>
</main>